   <br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>   
   
   
   
   
   
   <div class="footer-container">
            <footer class="wrapper">
			<div id="social-media-icons">
			<a href="https://www.facebook.com/profile.php?id=100010772460674" target="_blank"> <img src="/facebook.png" width="50" height="50"/></a>
			<a href="https://github.com/Saidevi" target="_blank"> <img src="/github.png" width="50" height="50"/></a>
			<a href="https://twitter.com/Uppalapati_SD" target="_blank"> <img src="/Twitter.png" width="50" height="50"/></a>
			<a href="https://www.linkedin.com/" target="_blank"> <img src="/linkedin.png" width="50" height="50"/></a>
			<a href="https://www.instagram.com/saidevi001/?hl=en" target="_blank"> <img src="/Instagram.png" width="50" height="50"/></a>
			</div>
            </footer>
        </div>
</body>
</html>
