<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link rel="stylesheet" href="/guestbook.css">-->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!--  <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">-->
		<link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">

       
    </head>
    <body>
	
        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Saidevi Uppalapati</h1>
                <nav >
                    <ul >
                        <li><a  href="http://127.0.0.1:8081/SaiDeviUppalapti.html">Home</a></li>
                        <li><a  href="http://127.0.0.1:8081/MyChoice.html">MyChoice</a></li>
                        <li><a  href="http://127.0.0.1:8081/Contact.html">Contact</a></li>
                        <li><a  href="http://127.0.0.1:8081/index.ejs">Guestbook</a></li>
                    </ul>
                </nav>
         
            </header>
  </div>
<br><br><br><br>
<h1>
Express Guestbook
<a href="http://127.0.0.1:8081/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>


